// bower:scss
// endbower

body {
    background-image: url("http://bglabs.evade.netdna-cdn.com/files/torn-cardboard-texture-2424.jpg");
    background-size: cover;
    font-family: 'Shadows Into Light Two', cursive;
    color: white;
    text-align: center;
}

.title {
    display: block;
    height: 100px;
    width: 100%;
    margin-bottom: 10px;
    padding:10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
}


.container {
    float:left;

    .images {
        display: block;
        float:left;
        width: 200px;
        height: 200px;
        margin-left: 10px;
        margin-top: 20px;
        padding: 10px;
       
        img {
            float:left;
            width: 100%;
            height: 200px;
            margin-left: 50px;
            border-top: 10px solid #945;
            border-bottom: 10px solid #945;
        }
    }
}

.detail-container {
    display: inline-block;
    float:left;
    height: 500px;
    width: 500px;
    padding:10px;
    margin-left: 350px;
    margin-top:10px;
    border-top: 20px solid #945;
    border-bottom: 110px solid #945;
    border-right: 20px solid #945;
    border-left: 20px solid #945;
    border-radius: 10px;
    background-color: tan;
 
        img {
            
            width: 100%;
            height: 0%;
            margin-top: 40px;
            opacity: 0.6;
            border-radius: 20px;

    }
}









