// bower:scss
// endbower

body {
    background: tan;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: black;
}

.title {
    display: block;
    height: 100px;
    width: 100%;
    background-color: red;
    margin-bottom:10px;
    padding:10px;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border: 10px solid black;
}


.container {
    display: block;
    height: 400px;
    width: 600px;
    margin-left: 350px;
    padding:10px;
    border-top: 20px solid black;
    border-bottom: 110px solid black;
    border-right: 20px solid black;
    border-left: 20px solid black;
    border-radius: 20px;
    background-color: white;
    
    input {
        float:left;
        width: 100px;
        height: 20px;
        border-radius: 5px;
        border: 2px solid black;
        background-color: white;
    }

}





